<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="text-wrapper">
        <p class="blue-text">1/3</p>
        <div style="display: flex; justify-content: center">
          <p class="">Building PDF</p>
          <div class="loading" role="status" aria-label="Loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
      </div>
      <div class="loader-wrapper">
        <mat-icon color="accent" svgIcon="custom-pdf"></mat-icon>
        <mat-progress-bar mode="determinate" value="60" />
      </div>
    </div>
  </div>
</div>
