:host {
  height: 100vh;
}
.container {
  background-color: #e4e4e4;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 2rem;
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content {
  width: 500px;
}

.text-wrapper {
  margin: 0 auto;
  text-align: center;
}

.loader-wrapper {
  margin: 0 auto;
  text-align: center;
}

mat-progress-bar {
  border-radius: 15px;
}

img {
  margin: 2rem;
}

p {
  font-size: 28px;
  font-weight: 500;
}
.blue-text {
  color: #2478a2;
}

.mdc-linear-progress__bar-inner {
  border-radius: 0 15px 0 15px;
}
