:host {
  height: 100vh;
}
.container {
  background-color: #e4e4e4;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 2rem;
  background-color: white;
  height: 100%;
}

.text-wrapper {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.loader-wrapper {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

mat-progress-bar {
  border-radius: 15px;
}

img {
  margin: 1rem;
}

h3 {
  color: #2478a2;
}
